<form action="https://docs.google.com/forms/u/1/d/e/1FAIpQLSdiwX43fsdPsLCc33N54ND49TfhBVN5QNBgnBZ8OFUPTHEtUA/formResponse" target="_self" method="POST" id="mG61Hd">
<fieldset>
  <legend>Please sign up to our mailing list if you would like to keep informed of our progress and receive occasional updates.</legend>
  <label for="email">your email address</label>
  <input id="email" type="email" name="entry.293474704" value="" placeholder="your_email@email.com" required />
  <label for="name">your name</label>
  <input id="name" type="text" name="entry.1735545597" value=""  placeholder="your name" required/>

</fieldset>
<input type="hidden" name="fvv" value="1">
<input type="hidden" name="draftResponse" value="[null,null,&quot;-7492591254165189178&quot;]">
<input type="hidden" name="pageHistory" value="0">
<input type="hidden" name="fbzx" value="-7492591254165189178">
<input type="submit" class="button"name="submit" value="subscribe">
</div>
</div>
</form>
